@CHARSET "UTF-8";

.pageframe {
	width: 600pt;
}

.topmenu {
	background-color: black;
	color: white;
	font-style: normal;
	font-family: arial;
	height: 20pt;
}

.menuitem {
	float: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 40pt;
	margin-right: 20pt;
}

.logolane {
	width: 600pt;
	height: 110pt;
	background-color: #AFAFAF;
}

.logo {
	position: relative;
	top: 30pt;
	float: left;
	width: 100pt;
}

.slogan {
	position: relative;
	top: 30pt;
	float: left;
	width: 400pt;
	font-family: arial;
	font-size: 20pt;
	font-style: italic;
	float: left;
}

.downloadBox {
	position: relative;
	top: 30pt;
	float: left;
	width: 100pt;
	font-family: arial;
}

.textPart {
	font-family: arial;
	margin-top: 4pt;
	width: 498pt;
	float: left;
}

.rightMenu {
	font-family: arial;
	margin-top: 4pt;
	width: 100pt;
	height: 800pt;
	float: left;
	border-width: 1pt;
	border-style: solid;
	border-radius: 10pt;
	width: 100pt;
	box-shadow: 10px 10px 5px #888888;
}