@CHARSET "UTF-8";
.topmenu {
	background-color: black;
	color: white;
	font-style: normal;
	font-family: verdana;
	height: 20pt;
	position: 
}
.menuitem {
	float: left;
	margin-left: 20pt;
	margin-right: 20pt;
}
